{% extends 'base.html' %}
{% block currentpage %}


<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <div id="gap_cal_status"><h4>Press Start on sidebar to start GAP calculation</h4></div>
      <img src="/static/img/calc.gif" id="calc_img" style="display:none" height="60" / >
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div id="gap_cal_update"></div>
    </div>
  </div>

</div>

<script type="text/javascript" charset="utf-8">


  var socket = io.connect('http://' + document.domain + ':' + location.port);


  function start_calc() {
    $("#gap_cal_update").empty();
    $("#gap_cal_status").empty();
    $("#gap_cal_status").append("<h3>Calculations started</h3>");
    socket.emit('start_gap_calc');
    $('#calc_img').show();
  };


  socket.on('progress', function(msg) {

      if(msg.finish==1){ // finished performing routing optimization
        $('#calc_img').hide();
        $("#gap_cal_status").empty();
        $("#gap_cal_status").append("<h3>"+msg.data+"</h3>");
        complete=1;
      }else{
        $("#gap_cal_update").prepend("<span style='font-size:14px;'>"+msg.data+"</span><br>");
      }
  });

  socket.on('disconnect', function(data) {
    alert("socket disconnect!");
  });

  socket.on('ping', function(data) {
    console.log("ping");
  });


  setInterval(function(){
      if (complete==1){
        socket.emit('ping');
      }
  }, 50000);

  //
  // function disconnect_gap_calc() {
  //   // alert("stop")
  //   // socket.emit('disconnect_gap_calc');
  //   stop_calc();
  // };
  //
  //
  // function stop_calc() {
  //
  //   // var state=get_state(); // get state data from target fwhp, route and optimize columns
  //
  //   // Make AJAX call to save state data to session in the server, see "savestate" url call in views.py
  //   // AJAX standard form for calling
  //   $.ajax({
  //       type: "POST",
  //       url: "/stop", // url to call in the views.py
  //       // The key needs to match your method's input parameter (case-sensitive).
  //       data: "stop",
  //       success: function(data){
  //       },
  //       failure: function(errMsg) {
  //           alert(errMsg);
  //       }
  //   });
  //
  //   return "";
  //
  // };


</script>


{% endblock %}
