{% extends 'base.html' %}
{% block currentpage %}


<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <div id="gap_cal_status"><h4>Press Start on sidebar to start GAP calculation</h4></div>
      <div class="checkbox" id="route_opt_div">
        <label><input type="checkbox" value="" id="route_opt">Optimize routing</label>
      </div>
      <img src="/static/img/calc.gif" id="calc_img" style="display:none" height="60" / >
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div id="variations" style="display:none;">
        <button type="button" class="btn btn-info" onclick="start_route_opt()">START ROUTING OPTIMIZATION</button>
        <hr>
        <h4>Rules to apply</h4>
        <div class="checkbox">
          <label><input type="checkbox" value="" id="rule1" checked='checked'>Not more than 3 wells on 1 Trunkline</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="" id="rule1" checked='checked'>Not more than 2 wells on 1 Testline</label>
        </div>

        <hr>
        <h4>Route options</h4>
        <table class="table table-bordered table-condensed" id="var_table" style="font-size:10px;">
          <thead class="thead-default">
            <tr class="info">
              <!-- <td style='background-color:#f2f2f2;'><b>Well<b/></td> -->
              <!-- <td style='background-color:#BDE5F1;'><b>Well<b/></td>
              <td style='background-color:#BDE5F1;'><b>Unit</b></td>
              <td style='background-color:#BDE5F1;'><b>RMS</b></td>
              <td style='background-color:#BDE5F1;'><b>TL</b></td>
              <td style='background-color:#BDE5F1;'><b>Route</b></td>
              <td style="width:5%;background-color:#BDE5F1;"><b>Select/Unselect</b></td> -->

              <th><b>Well<b/></th>
              <th><b>Unit</b></th>
              <th><b>RMS</b></th>
              <th><b>TL</b></th>
              <th><b>Route</b></th>
              <th style="width:5%;"><b>Select/Unselect</b></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div id="gap_cal_update"></div>
    </div>
    <div class="col-lg-6">
      <div id="best"></div>
      <div id="route_opt_update"></div>
    </div>
  </div>

</div>

<script type="text/javascript" charset="utf-8">


  var socket = io.connect('http://' + document.domain + ':' + location.port);
  var complete=0;

  function start_gap_calc() {

    $("#gap_cal_update").empty();
    $("#gap_cal_status").empty();
    $("#route_opt_div").hide();


    if ($("#route_opt").is(":checked")){
      $("#gap_cal_status").append("<h3>Routing optimization</h3>");
      socket.emit('prep_route_opt');
    }else{
      $("#gap_cal_status").append("<h3>Calculations started</h3>");
      socket.emit('start_gap_calc');
      $('#calc_img').show();
    }


  };

  // function route_opt_calc() {
  //   $("#gap_cal_update").empty();
  //   $("#gap_cal_status").empty();
  //   $("#gap_cal_status").append("<h3>Routing calculations started</h3>");
  //   socket.emit('start_route_opt');
  //   $('#calc_img').show();
  // };

  socket.on('progress', function(msg) {

      if(msg.finish==1){ // finished performing routing optimization

        $('#calc_img').hide();
        $("#gap_cal_status").empty();
        $("#gap_cal_status").append("<h3>"+msg.data+"</h3>");
        complete=1;

      }else if(msg.finish==2){ // finished performing constraints optimization at certain state

        $("#gap_cal_update").empty();
        $("#gap_cal_update").prepend("<span style='font-size:14px;'>"+msg.data+"</span><br>");
        $("#route_opt_update").prepend(
            "<span style='font-size:14px;'>"
              +"State_id="+msg.state_id+", "
              +"Qoil="+msg.res.tot_qoil+", "
              +"Qgas="+msg.res.tot_qgas+", "
              +"Qwat="+msg.res.tot_qwat+", "
              +"time:"+msg.time
            +"</span><br>"
          );

        if (msg.best==1){ // update best field with best result from calculations
          $("#best").empty();
          $("#best").append(
            "<h4>Best result:</h4>"+
            "<span style='font-size:14px;color:green;'>"
              +"State_id="+msg.state_id+", "
              +"Qoil="+msg.res.tot_qoil+", "
              +"Qgas="+msg.res.tot_qgas+", "
              +"Qwat="+msg.res.tot_qwat
            +"</span><hr>"
          );
        }

      }else{
        $("#gap_cal_update").prepend("<span style='font-size:14px;'>"+msg.data+"</span><br>");
      }
  });

  socket.on('disconnect', function(data) {
    alert("socket disconnect!");
  });

  socket.on('ping', function(data) {
    console.log("ping");
  });

  socket.on('prep_ro_data', function(data) {
    $("#variations").show();

    var color="#ffffff";
    var prev_color="#ffffff";

    for (var well in data.data){

      if (prev_color=="#ffffff"){
        color="#f2f2f2";
      }else{
        color="#ffffff";
      }

      var arrayLength = data.data[well].length;
      for (var i = 0; i < arrayLength; i++) {

        //$('#var_table tbody tr:last').after(
        $('#var_table tbody').append(
          '<tr>'+
            '<td style="background-color:'+color+'" name="wellname">'+well+'</td>'+
            '<td style="background-color:'+color+'" name="unit">'+data.data[well][i]["unit"]+'</td>'+
            '<td style="background-color:'+color+'" name="rms">'+data.data[well][i]["rms"]+'</td>'+
            '<td style="background-color:'+color+'" name="tl">'+data.data[well][i]["tl"]+'</td>'+
            '<td style="background-color:'+color+'" name="route_name">'+data.data[well][i]["route_name"]+'</td>'+
            '<td style="background-color:'+color+'">'+
              '<input type="checkbox" value="" id="" checked="checked" name="ro">'+
            '</td>'+
          '</tr>'
        );

      }
      prev_color=color;
    }


  });


  setInterval(function(){
      if (complete==1){
        socket.emit('ping');
      }
  }, 50000);

  function start_route_opt() {
    // $("#variations").hide();
    // $("#gap_cal_status").append("<h4>Calculations started</h4>");
    // $('#calc_img').show();
    // socket.emit('start_route_opt');
    var ro_data=get_route_options();
    console.log(ro_data);
  }

  function get_route_options(){

    var ro_data={};
    var routes=[];
    var wellname_="";

    $("#var_table tbody").children('tr').each(function () { // loop through rows
      if ($(this).find("[name=ro]").is(":checked")){


        var wellname=$(this).find("[name=wellname]").text() // get wellname
        var route_name=$(this).find("[name=route_name]").text() // get route_name

        if (wellname_!=wellname){
          ro_data[wellname]={"routes":[]}
          routes=[];
        }
        routes.push(route_name);
        ro_data[wellname]["routes"]=routes;
        wellname_=wellname
      }
    })
    return ro_data
  }

  //
  // function disconnect_gap_calc() {
  //   // alert("stop")
  //   // socket.emit('disconnect_gap_calc');
  //   stop_calc();
  // };
  //
  //
  // function stop_calc() {
  //
  //   // var state=get_state(); // get state data from target fwhp, route and optimize columns
  //
  //   // Make AJAX call to save state data to session in the server, see "savestate" url call in views.py
  //   // AJAX standard form for calling
  //   $.ajax({
  //       type: "POST",
  //       url: "/stop", // url to call in the views.py
  //       // The key needs to match your method's input parameter (case-sensitive).
  //       data: "stop",
  //       success: function(data){
  //       },
  //       failure: function(errMsg) {
  //           alert(errMsg);
  //       }
  //   });
  //
  //   return "";
  //
  // };


</script>


{% endblock %}
