{% extends 'base.html' %}
{% block currentpage %}




<div class="container-fluid">


  <div class="row">

    <div class="col-lg-8">
      <h4>Load Well States</h4>
      <table class="table table-condensed table-bordered">
        <thead>
          <th class="info">Well</th>
          <th class="info">Current route</th>
          <th class="info">Gathering Route</th>
          <th class="info">FWHP,bar</th>
          <th class="info">Online</th>
          <th class="info">Load to State</th>
        </thead>
        <tbody id="merged_result">

          {% for well_key, row in data.well_data.items() %}
            <tr>
              <td name="wellname">{{ well_key }}</td>
              <td name="curr_route">{{ row.selected_route }}</td>
              <td><span  name="route" contenteditable></span></td>
              <td><span  name="thp" contenteditable></span></td>
              <td><span name="online" contenteditable></span></td>
              <td><input type="checkbox" name="toload" value=""></td>
            </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>

    <div class="col-lg-4">

      <div class="panel panel-default" style="margin-top:40px;">
        <div class="panel-heading">Gathering report</div>
        <div class="panel-body">
          <form id="upload-file" method="post" enctype="multipart/form-data" class="form-inline">
            <div class="form-group">
              <input class="form-control" type="file" name="file" id="hc">
            </div>
            <button class="btn btn-primary" id="upload-file-btn" type="button">Upload</button>
            <img src="/static/img/loading-dots.gif" id="load_img3" style="display:none;" height="18" / >
          </form>
        </div>
      </div>

      <div class="panel panel-default" id="log_panel" style="display:none;">
        <div id="log"></div>
      </div>

      <div class="panel panel-default" style="margin-top:40px;">
        <div class="panel-heading">FWHP</div>
        <div class="panel-body">
          <form id="thp-data" method="post" enctype="multipart/form-data" class="form-inline">
            <label for="thp_date_start">Start</label>
            <input class="form-control" type="text" placeholder="Enter data 01/01/2017 00:00:00" id="thp_date_start" value="2018-01-01 00:00:00">
            <label for="thp_date_end">End</label>
            <input class="form-control" type="text" placeholder="Enter data 02/01/2017 00:00:00" id="thp_date_end" value="2018-01-01 00:00:00">
            <button class="btn btn-primary" id="iwit_thp-data-btn" type="button">IWIT</button>
            <img src="/static/img/loading-dots.gif" id="load_img" style="display:none;" height="18" / >
          </form>
        </div>
      </div>

      <div class="panel panel-default" style="margin-top:40px;">
        <div class="panel-heading">Online Status</div>
        <div class="panel-body">
          <form id="online-data" method="post" enctype="multipart/form-data" class="form-inline">
            <input class="form-control" type="text" placeholder="Enter data 01/01/2017 00:00:00" id="online_date_start" value="2018-01-01 00:00:00">
            <button class="btn btn-primary" id="online-data-btn" type="button">IWIT</button>
            <img src="/static/img/loading-dots.gif" id="load_img2" style="display:none;" height="18" / >
          </form>
        </div>
      </div>
      <div class="checkbox">
        <label style="font-size:20px;"><input type="checkbox" value="" checked id="shut_the_rest">Shut-in all unchecked wells</label>
      </div>

      <button type="button" class="btn btn-primary btn-block" onclick="save_table2state();">SAVE TO STATE</button>

    </div>


  </div>


</div>



<script type="text/javascript" charset="utf-8">


  function save_table2state() {

    var data2state={}
    var state={}

    $("#merged_result").children('tr').each(function () { // loop through rows
      var toload=$(this).find("[name=toload]").is(':checked') // should I load or not?
      if (toload){
        var wellname=$(this).find("[name=wellname]").text() // get wellname
        var route=$(this).find("[name=route]").text() // get route
        var target_fwhp=$(this).find("[name=thp]").text() // thp is same as fwhp
        state[wellname]={"selected_route":route,"target_fwhp":target_fwhp}
      }
    })
    data2state["state"]=state;

    var shut_the_rest = $('#shut_the_rest').is(':checked');
    if(shut_the_rest){
      data2state["shut_the_rest"]=1;
    }else{
      data2state["shut_the_rest"]=0;
    };

    $.ajax({
        type: "POST",
        url: "/savestate_loaded",
        data: JSON.stringify(data2state),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
          alert(data.data);
        },
        failure: function(errMsg) {
            alert(errMsg);
        }
    });

  };



  function write2page_route(data){

    $("#merged_result").children('tr').each(function () { // loop through rows

      var wellname=$(this).find("[name=wellname]").text() // get wellname
      var curr_route=$(this).find("[name=curr_route]").text() // get current route in GAP
      for(var i=0, len=data["result_text"].length; i < len; i++){
        if (data["result_text"][i][0]==wellname){
          route=data["result_text"][i][1]+"--"+
                data["result_text"][i][2]+"--"+
                data["result_text"][i][3]+"--slot "+
                data["result_text"][i][4]
          $(this).find("[name=route]").text(route)
          if (route!=curr_route){
            $(this).find("[name=route]").css("background-color","#e6ffe6")
          }
        }
      };
    })

    for(var i=0, len=data["warn_text"].length; i < len; i++){
      $("#log").append(
        data["warn_text"][i]+"<br>"
      );
      $("#log_panel").show();

    }

  };



  function write2page_thp(data){

    $("#merged_result").children('tr').each(function () { // loop through rows
      var wellname=$(this).find("[name=wellname]").text() // get wellname
      var route=$(this).find("[name=route]").text() // get route
      for(var i=0, len=data["thps"].length; i < len; i++){
        if (data["thps"][i][0]==wellname){
          $(this).find("[name=thp]").text(data["thps"][i][2])
        }
      };
    })

  };


  function write2page_online(data){

    $("#merged_result").children('tr').each(function () { // loop through rows
      var wellname=$(this).find("[name=wellname]").text() // get wellname

      for(var i=0, len=data["online_status"].length; i < len; i++){
        if (data["online_status"][i][0]==wellname){

          var status=data["online_status"][i][2];
          var route=$(this).find("[name=route]").text()
          var thp=parseFloat($(this).find("[name=thp]").text())

          $(this).find("[name=online]").text(status)
          if (status=="CLOSED"){
            $(this).find("[name=online]").css("background-color","#ffe6e6")
          }
          if (status=="OPEN" && (route!="" || thp>0)){
            $(this).find("[name=toload]").prop('checked', true);
          }
        }
      };
    })

  };




  $(document).ready(function() {


    var start_date_dt = new Date();
    var end_date_dt = new Date();
    start_date_dt.setDate(end_date_dt.getDate()-1);

    var start_date_str = ("0" + start_date_dt.getDate()).slice(-2) + "/" +("0" + (start_date_dt.getMonth()+1)).slice(-2) + "/" +start_date_dt.getFullYear() + " 00:00:00"
    $("#thp_date_start").val(start_date_str);
    $("#online_date_start").val(start_date_str);
    var end_date_str = ("0" + end_date_dt.getDate()).slice(-2) + "/" +("0" + (end_date_dt.getMonth()+1)).slice(-2) + "/" +end_date_dt.getFullYear() + " 00:00:00"
    $("#thp_date_end").val(end_date_str);



    $('#upload-file-btn').click(function() {
      $("#load_img3").show();

      $("#merged_result").children('tr').each(function () { // clear THP column
        $(this).find("[name=route]").text("")
      });

      var form_data = new FormData($('#upload-file')[0]);
      $.ajax({
        type: 'POST',
        url: '/upload_gath_rep',
        data: form_data,
        contentType: false,
        cache: false,
        processData: false,
        async: false,
        success: function(data) {
            write2page_route(data);
            $("#load_img3").hide();
        },
        failure: function(errMsg) {
            alert(errMsg);
        }
      });
    });


    $('#iwit_thp-data-btn').click(function() {
      $("#load_img").show();

      $("#merged_result").children('tr').each(function () { // clear THP column
        $(this).find("[name=thp]").text("")
      });

      var thp_date_start = $('#thp_date_start').val();
      var thp_date_end = $('#thp_date_end').val();
      var thp_dates=[thp_date_start,thp_date_end];
      $("#thp_result").empty();
      $.ajax({
        type: 'POST',
        url: '/iwit_thp',
        data: JSON.stringify(thp_dates),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data) {
          write2page_thp(data);
          $("#load_img").hide();
        },
        failure: function(errMsg) {
            alert(errMsg);
        }
      });
    });



    $('#online-data-btn').click(function() {
      $("#load_img2").show();

      $("#merged_result").children('tr').each(function () { // clear online column
        $(this).find("[name=online]").text("")
        $(this).find("[name=online]").css("background-color","#ffffff")
      });

      var online_date_start = $('#online_date_start').val();

      $.ajax({
        type: 'POST',
        url: '/online_status',
        data: JSON.stringify(online_date_start),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data) {
          write2page_online(data);
          $("#load_img2").hide();
        },
        failure: function(errMsg) {
            alert(errMsg);
        }
      });
    });


  });





  </script>




{% endblock %}
