{% extends 'base.html' %}
{% block currentpage %}




<div class="container-fluid">

  <div class="row">
    <div class="col-lg-4">
      <h3>Load from clipboard</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-4">
      <button class="btn btn-primary" id="load_state" onclick="load_state();" type="button">Load data</button>
      <hr>
        <label for="comment">Copy/paste from Excel </label>
        <br>
        <caption>Column (1) - wellname same as in GAP. Column (2) - Unit connection for dual wells (leave blank for single connections).
          Column (3) - FWHP to be applied (leave blank to let GAP calculate) </caption>
        <textarea class="form-control" rows="30" id="excel_data"></textarea>
        <div class="checkbox">
          <label style="font-size:20px;color:red;"><input type="checkbox" value="" checked id="shut_the_rest">Shut-in all other wells not in the list above</label>
        </div>
        <p id="load_result"></p>
    </div>

    <div class="col-lg-3">
      <div id="showdata_div"></div><br>
      <div id="showdata"></div>
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-lg-4">
      <h3>Parse Gathering report</h3>
      <form id="upload-file" method="post" enctype="multipart/form-data" class="form-inline">
          <div class="form-group">
            <input class="form-control" type="file" name="file" id="hc">
          </div>
          <button class="btn btn-primary" id="upload-file-btn" type="button">Upload</button>
      </form>
    </div>
    <div class="col-lg-4">
      <h3>Get FWHPs from Database</h3>
      <form id="thp-data" method="post" enctype="multipart/form-data" class="form-inline">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Enter data 2017-01-01" id="thp_date" value="2017-01-01">
          </div>
          <button class="btn btn-primary" id="thp-data-btn" type="button">Get data from EC</button>
      </form>
    </div>
    <div class="col-lg-4">
      <h3>Routes and FWHP</h3>
      <button class="btn btn-primary" id="merge-data-btn" type="button">Merge routes and FWHPs</button>
      <button class="btn btn-primary" id="copy-merged-btn" type="button">Copy to textarea</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <hr>
      <table class="table table-condensed">
        <tbody id="parse_result"></tbody>
      </table>
      <div id="parse_warning"></div>
    </div>
    <div class="col-lg-4">
      <hr>
      <table class="table table-condensed">
        <tbody id="thp_result"></tbody>
      </table>
      <!-- <div class="" id="thp_result"></div> -->
    </div>
    <div class="col-lg-4">
      <hr>
      <table class="table table-condensed">
        <tbody id="merged_result"></tbody>
      </table>
    </div>
  </div>

</div>

<br>
<br>


<script type="text/javascript" charset="utf-8">

  function load_state() {

    $("#showdata").empty();
    $("#showdata_div").empty();
    var data = $('#excel_data').val();
    var table = $('<table class="table" style="font-size:12px;"><tr><th>Wellname</th><th>Unit connection</th><th>Target FWHP</th></tr></table>');

    var state={};

    if (data){
      var rows = data.split("\n");

      for(var y in rows) {

        if (rows[y]){
          // var cells = rows[y].split("\t");
          if(rows[y].indexOf('|') > -1){
            var cells = rows[y].split("|");
          }else{
            var cells = rows[y].split("\t");
          }

          var wellname=cells[0];
          var unit=cells[1];
          var fwhp=cells[2];
          state[wellname]={"selected_route":unit,"fwhp":fwhp}

          var row = $('<tr />');
          for(var x in cells) {
              row.append('<td>'+cells[x]+'</td>');
          }
          table.append(row);
        }
      }
      $('#load_result').text("loaded successfully.");
      $('#showdata').append(table);
      $('#showdata_div').append('<button class="btn btn-primary" id="save_table2state" onclick="save_table2state();" type="button">Save data to state</button>');
    }else{
      $('#load_result').text("No data entered!");
    }

  };


  function save_table2state() {

    var data = $('#excel_data').val();
    var data2state={}
    var state={}
    if (data){
      var rows = data.split("\n");
      for(var y in rows) {
        if (rows[y]){
          if(rows[y].indexOf('|') > -1){
            var cells = rows[y].split("|");
          }else{
            var cells = rows[y].split("\t");
          }
          var wellname=cells[0];
          var unit=cells[1];
          var target_fwhp=cells[2];
          state[wellname]={"selected_route":unit,"target_fwhp":target_fwhp}
        }
      }
      $('#load_result').text("loaded successfully.");
    }

    var shut_the_rest = $('#shut_the_rest').is(':checked');
    if(shut_the_rest){
      data2state["shut_the_rest"]=1;
    }else{
      data2state["shut_the_rest"]=0;
    };

    data2state["state"]=state;

    $.ajax({
        type: "POST",
        url: "/savestate_loaded",
        // The key needs to match your method's input parameter (case-sensitive).
        data: JSON.stringify(data2state),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
          alert("Routes and target FWHPs saved!");
        },
        failure: function(errMsg) {
            alert(errMsg);
        }
    });

  };


  $(document).ready(function() {
    $('#upload-file-btn').click(function() {
      $("#parse_result").empty();
      $("#parse_warning").empty();
      var form_data = new FormData($('#upload-file')[0]);
      $.ajax({
          type: 'POST',
          url: '/upload_gath_rep',
          data: form_data,
          contentType: false,
          cache: false,
          processData: false,
          async: false,
          success: function(data) {
              write2page(data);
          },
          failure: function(errMsg) {
              alert(errMsg);
          }
        });
      });
  });


  function write2page(data){
    console.log(data);
    for(var i=0, len=data["result_text"].length; i < len; i++){
      $("#parse_result").append(
        "<tr><td name='wellname'>"+
        data["result_text"][i][0]+"</td><td name='route'>"+
        data["result_text"][i][1]+"--"+
        data["result_text"][i][2]+"--"+
        data["result_text"][i][3]+"--slot "+
        data["result_text"][i][4]+
        "</td><td>1</td></tr>"
      );
    };
    for(var i=0, len=data["warn_text"].length; i < len; i++){
      $("#parse_warning").append(
        data["warn_text"][i]+"<br>"
      );
    }
  }

  $(document).ready(function() {
    $('#thp-data-btn').click(function() {
      $("#thp_result").empty();
      var thp_date = $('#thp_date').val();
      console.log(thp_date);
      $.ajax({
        type: "POST",
        url: "/get_alloc_thp",
        data: JSON.stringify(thp_date),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
          write2page_thp(data);
        },
        failure: function(errMsg) {
            alert(errMsg);
        }
      });
    });
  });

  function write2page_thp(data){
    for(var i=0, len=data["thps"].length; i < len; i++){
      $("#thp_result").append(
        "<tr>"+
          "<td name='wellname'>"+data["thps"][i][0]+"</td>"+
          "<td>"+data["thps"][i][1]+"</td>"+
          "<td name='thp'>"+data["thps"][i][2]+"</td>"+
          "<td>"+data["thps"][i][3]+"</td>"+
        "</tr>"
      );
    };
  }





  $(document).ready(function() {
    $('#merge-data-btn').click(function() {
      $("#merged_result").empty();

      var routes=[];
      table="#parse_result";
      $(table).children('tr').each(function () {
        var wellname=$(this).find("[name=wellname]").text();
        var route=$(this).find("[name=route]").text();
        routes.push([wellname,route]);
      });

      var thps=[];
      table="#thp_result";
      $(table).children('tr').each(function () {
        var wellname=$(this).find("[name=wellname]").text();
        var thp=$(this).find("[name=thp]").text();
        thps.push([wellname,thp]);
      });

      var merged=[]
      for(var i=0, leni=thps.length; i < leni; i++){
        in_routes=0;
        idx=-1
        for(var j=0, lenj=routes.length; j < lenj; j++){
            if(thps[i][0]==routes[j][0]){
              in_routes=1;
              idx=j;
              break;
            }
        }
        if(in_routes==1){
          merged.push([thps[i][0],routes[idx][1],thps[i][1]])
        }else{
          merged.push([thps[i][0],"",-1])
        }
      }

      // thp_no_route=[];
      // for(var i=0, leni=thps.length; i < leni; i++){
      //   in_routes=0;
      //   for(var j=0, lenj=merged.length; j < lenj; j++){
      //       if(thps[i][0]==merged[j][0]){
      //         in_routes=1;
      //       }
      //   }
      //
      // }


      for(var i=0, leni=merged.length; i < leni; i++){
        st=""
        if (merged[i][1]==""){
          st='style="background-color:#ffe6e6"'
        }
        $("#merged_result").append(
          "<tr "+st+">"+
            "<td name='wellname'>"+merged[i][0]+"</td>"+
            "<td name='route'>"+merged[i][1]+"</td>"+
            "<td name='thp'>"+merged[i][2]+"</td>"+
          "</tr>"
        );
      }


    });
  });

  $(document).ready(function() {
    $('#copy-merged-btn').click(function() {
      $("#excel_data").empty();
      table="#merged_result";
      $(table).children('tr').each(function () {
        var wellname=$(this).find("[name=wellname]").text();
        var route=$(this).find("[name=route]").text();
        var thp=$(this).find("[name=thp]").text();
        var row= wellname+"\t"+route+"\t"+thp+"\n"
        $("#excel_data").append(row)
      });

    });
  });

  </script>




{% endblock %}
