{% extends 'base.html' %}
{% block currentpage %}


<div class="container-fluid">

  <!-- <hr style="background-color:#E0E0E0;height:1px;"> -->
  <br>
  <div class="row">
    <div class="col-lg-2">
      <button type="button" class="btn btn-default btn-lg btn-block" id="#save_state" onclick="save_state();" style="background-color:#e5ffec;">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>  Save state
      </button>
    </div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-default btn-lg btn-block" id="#clear_state" onclick="clear_state();" style="background-color:#ffe5e5;">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Clear state
      </button>
    </div>
  </div> <!-- row div end -->


  <hr style="background-color:#E0E0E0;height:1px;">


  <h3><b><a href="#" id="show_hide_units_section">Units</a></b></h3>

  <div class="row" id="units_section">

    <div class="col-lg-7">
      <h4><b>Constraints and AF</b></h4>
      <table class="table table-bordered table-condensed">

        <tr>
          <td style="width:20%;border-top: 1px solid transparent;border-left: 1px solid transparent;" ><b></b></td>
          <td style='width:20%;'><b>KPC</b></td>
          <td style='width:20%;'><b>Unit-3</b></td>
          <td style='width:20%;'><b>Unit-2</b></td>
          <td style='width:20%;border-top: 1px solid transparent;border-right: 1px solid transparent;'><b></b></td>
        </tr>

        <tr>
          <td style="width:20%;">Qoil constraint</td>

          <td style='width:20%;' id="kpc_qoil_max" contenteditable >{{ data.unit_data.constraints.kpc_qoil_max }}</td>
          <td style='width:20%;' id="u3_qoil_max" contenteditable >{{ data.unit_data.constraints.u3_qoil_max }}</td>
          <td style='width:20%;' id="u2_qoil_max" contenteditable >{{ data.unit_data.constraints.u2_qoil_max }}</td>
          <td style='width:20%;' id="qoil_max_uom">
            <select class="form-control input-sm" name="qoil_max_uom_selected" style="padding:1px;height:20px;">
              <option selected>Sm3/d</option>
              <option>St.tons/d</option>
            </select>
          </td>
        </tr>

        <tr>
          <td style="width:20%;">Qgas constraint</td>
          <td style='width:20%;' id="kpc_qgas_max" contenteditable >{{ data.unit_data.constraints.kpc_qgas_max }}</td>
          <td style='width:20%;' id="u3_qgas_max" contenteditable >{{ data.unit_data.constraints.u3_qgas_max }}</td>
          <td style='width:20%;' id="u2_qgas_max" contenteditable >{{ data.unit_data.constraints.u2_qgas_max }}</td>
          <td style='width:20%;' id="qgas_max_uom">ksm3/d</td>
        </tr>

        <tr>
          <td style="width:20%;">Qoil AF</td>
          <td style='width:20%;' id="kpc_qoil_af" contenteditable >{{ data.unit_data.af.kpc_qoil_af }}</td>
          <td style='width:20%;' id="u3_qoil_af" contenteditable >{{ data.unit_data.af.u3_qoil_af }}</td>
          <td style='width:20%;' id="u2_qoil_af" contenteditable >{{ data.unit_data.af.u2_qoil_af }}</td>
          <td style='width:20%;' id="qoil_af_uom">-</td>
        </tr>
        <tr>
          <td style="width:20%;">Qgas AF</td>
          <td style='width:20%;' id="kpc_qgas_af" contenteditable >{{ data.unit_data.af.kpc_qgas_af }}</td>
          <td style='width:20%;' id="u3_qgas_af" contenteditable >{{ data.unit_data.af.u2_qgas_af }}</td>
          <td style='width:20%;' id="u2_qgas_af" contenteditable >{{ data.unit_data.af.u3_qgas_af }}</td>
          <td style='width:20%;' id="qgas_af_uom">-</td>
        </tr>

      </table>
    </div>



    <div class="col-lg-5">
      <h4><b>Separator Pressure</b></h4>
      <table class="table table-bordered table-condensed">

        <tr>
          <td style="width:50%;">KPC Sep Pressure</td>
          <td style='width:30%;' id="kpc_sep_pres" contenteditable >{{ data.unit_data.sep.kpc_sep_pres }}</td>
          <td style='width:20%;' id="kpc_sep_pres_uom">bar</td>
        </tr>
        <tr>
          <td style="width:50%;">Unit-2 Sep Pressure</td>
          <td style='width:30%;' id="u2_sep_pres" contenteditable >{{ data.unit_data.sep.u2_sep_pres }}</td>
          <td style='width:20%;' id="u2_sep_pres_uom">bar</td>
        </tr>
        <tr>
          <td style="width:50%;">Unit-3 Train-1 Sep Pressure</td>
          <td style='width:30%;' id="u3_train1_sep_pres" contenteditable >{{ data.unit_data.sep.u3_train1_sep_pres }}</td>
          <td style='width:20%;' id="u3_sep_pres_uom">bar</td>
        </tr>
        <tr>
          <td style="width:50%;">Unit-3 Train-2 Sep Pressure</td>
          <td style='width:30%;' id="u3_train2_sep_pres" contenteditable >{{ data.unit_data.sep.u3_train2_sep_pres }}</td>
          <td style='width:20%;' id="u3_sep_pres_uom">bar</td>
        </tr>
        <tr>
          <td style="width:50%;">Unit-3 Train-3 Sep Pressure</td>
          <td style='width:30%;' id="u3_train3_sep_pres" contenteditable >{{ data.unit_data.sep.u3_train3_sep_pres }}</td>
          <td style='width:20%;' id="u3_sep_pres_uom">bar</td>
        </tr>
        <tr>
          <td style="width:50%;">Unit-3 Train-4 Sep Pressure</td>
          <td style='width:30%;' id="u3_train4_sep_pres" contenteditable >{{ data.unit_data.sep.u3_train4_sep_pres }}</td>
          <td style='width:20%;' id="u3_sep_pres_uom">bar</td>
        </tr>
      </table>
    </div>

  </div>

  <hr style="background-color:#E0E0E0;height:1px;">
  <h3><b><a href="#" id="show_hide_fb_section">Field Balance</a></b></h3>
  <div class="row"  id="fb_section">
    <div class="col-lg-4">
      <h4><b>Export</b></h4>
      <table class="table table-bordered table-condensed">
        <tr>
          <td style="width:40%;">CPC oil max</td>
          <td style='width:40%;' id="cpc_oil_max" contenteditable >{{ data.fb_data.streams.constraints.cpc_oil_max }}</td>
          <td style='width:20%;' id="cpc_oil_uom">sm3/d</td>
        </tr>
        <tr>
          <td style="width:40%;">OGP gas max</td>
          <td style='width:40%;' id="ogp_gas_max" contenteditable >{{ data.fb_data.streams.constraints.ogp_gas_max }}</td>
          <td style='width:20%;' id="ogp_gas_uom">ksm3/d</td>
        </tr>
        <tr>
          <td style="width:40%;">Gas injection Target</td>
          <td style='width:40%;' id="gas_inj_max" contenteditable >{{ data.fb_data.streams.constraints.gas_inj_max }}</td>
          <td style='width:20%;' id="gas_inj_uom">ksm3/d</td>
        </tr>
        <tr>
          <td style="width:40%;">Fuel gas max</td>
          <td style='width:40%;' id="fuel_gas_max" contenteditable >{{ data.fb_data.streams.constraints.fuel_gas_max }}</td>
          <td style='width:20%;' id="fuel_gas_uom">ksm3/d</td>
        </tr>
        <tr>
          <td style="width:40%;">MTU oil max</td>
          <td style='width:40%;' id="mtu_oil_max" contenteditable >{{ data.fb_data.streams.constraints.mtu_oil_max }}</td>
          <td style='width:20%;' id="mtu_oil_uom">ksm3/d</td>
        </tr>
        <tr>
          <td style="width:40%;">OGP oil max</td>
          <td style='width:40%;' id="ogp_oil_max" contenteditable >{{ data.fb_data.streams.constraints.ogp_oil_max }}</td>
          <td style='width:20%;' id="ogp_oil_uom">ksm3/d</td>
        </tr>
      </table>
    </div>

    <div class="col-lg-4">
      <h4><b>Process constraints</b></h4>
      <table class="table table-bordered table-condensed">
        <tr>
          <td style="width:40%;">KPC Max gas in MP Sep</td>
          <td style='width:40%;' id="kpc_free_gas_max" contenteditable >{{ data.fb_data.streams.constraints.kpc_free_gas_max }}</td>
          <td style='width:20%;' id="kpc_free_gas_uom">ksm3/d</td>
        </tr>
        <tr>
          <td style="width:40%;">KPC Max Tot gas in Drizo</td>
          <td style='width:40%;' id="kpc_tot_gas_max" contenteditable >{{ data.fb_data.streams.constraints.kpc_tot_gas_max }}</td>
          <td style='width:20%;' id="kpc_tot_gas_uom">ksm3/d</td>
        </tr>
        <tr>
          <td style="width:40%;">Unit-2 Max gas in MP Sep</td>
          <td style='width:40%;' id="u2_free_gas_max" contenteditable >{{ data.fb_data.streams.constraints.u2_free_gas_max }}</td>
          <td style='width:20%;' id="u2_free_gas_uom">ksm3/d</td>
        </tr>
        <tr>
          <td style="width:40%;">Unit-3 Max gas in MP Sep</td>
          <td style='width:40%;' id="u3_free_gas_max" contenteditable >{{ data.fb_data.streams.constraints.u3_free_gas_max }}</td>
          <td style='width:20%;' id="u3_free_gas_uom">ksm3/d</td>
        </tr>
        <tr>
          <td style="width:40%;">KPC Qgas Max to Unit-2</td>
          <td style='width:40%;' id="kpc_gas_2_u2_max" contenteditable >{{ data.fb_data.streams.constraints.kpc_gas_2_u2_max }}</td>
          <td style='width:20%;' id="kpc_gas_2_u2_uom">ksm3/d</td>
        </tr>
        <tr>
          <td style="width:40%;">KPC Qgas Max to Unit-3</td>
          <td style='width:40%;' id="kpc_gas_2_u3_max" contenteditable >{{ data.fb_data.streams.constraints.kpc_gas_2_u3_max }}</td>
          <td style='width:20%;' id="kpc_gas_2_u3_uom">ksm3/d</td>
        </tr>
      </table>


    </div>


    <div class="col-lg-4">
      <h4><b>Lab data</b></h4>
      <table class="table table-bordered table-condensed">
        <tr>
          <td style="width:50%;">Unstable oil Density Unit-3</td>
          <td style='width:30%;' id="u3_unst_dens" contenteditable >{{ data.fb_data.lab.u3_unst_dens }}</td>
          <td style='width:20%;' id="u3_unst_dens_uom">sm3/d</td>
        </tr>
        <tr>
          <td style="width:50%;">Unstable oil Density Unit-2</td>
          <td style='width:30%;' id="u2_unst_dens" contenteditable >{{ data.fb_data.lab.u2_unst_dens }}</td>
          <td style='width:20%;' id="u2_unst_dens_uom">sm3/d</td>
        </tr>
        <tr>
          <td style="width:50%;">St/unst oil Conversion Unit-3</td>
          <td style='width:30%;' id="u3_st_unst_conv" contenteditable >{{ data.fb_data.lab.u3_st_unst_conv }}</td>
          <td style='width:20%;' id="u3_st_unst_conv_uom">sm3/d</td>
        </tr>
        <tr>
          <td style="width:50%;">St/unst oil Conversion Unit-2</td>
          <td style='width:30%;' id="u2_st_unst_conv" contenteditable >{{ data.fb_data.lab.u2_st_unst_conv }}</td>
          <td style='width:20%;' id="u2_st_unst_conv_uom">sm3/d</td>
        </tr>
        <tr>
          <td style="width:50%;">Rs Unit-3</td>
          <td style='width:30%;' id="u3_rs" contenteditable >{{ data.fb_data.lab.u3_rs }}</td>
          <td style='width:20%;' id="u3_rs_uom">sm3/d</td>
        </tr>
        <tr>
          <td style="width:50%;">Rs Unit-2</td>
          <td style='width:30%;' id="u2_rs" contenteditable >{{ data.fb_data.lab.u2_rs }}</td>
          <td style='width:20%;' id="u2_rs_uom">sm3/d</td>
        </tr>
        <tr>
          <td style="width:50%;">Oil shrinkage Unit-3</td>
          <td style='width:30%;' id="u3_shrinkage" contenteditable >{{ data.fb_data.lab.u3_shrinkage }}</td>
          <td style='width:20%;' id="u3_shrinkage_uom">sm3/d</td>
        </tr>
        <tr>
          <td style="width:50%;">Oil shrinkage Unit-2</td>
          <td style='width:30%;' id="u2_shrinkage" contenteditable >{{ data.fb_data.lab.u2_shrinkage }}</td>
          <td style='width:20%;' id="u2_shrinkage_uom">sm3/d</td>
        </tr>
      </table>


    </div>

  </div>



  <hr style="background-color:#E0E0E0;height:1px;">


  <h3><b><a href="#" id="show_hide_wells_section">Wells</a></b></h3>

  <div id="wells_section">

    {% for unit in data.well_data %} <!-- loop through units in well_data -->

      <div class="row">
        <div class="col-lg-12">

          <!-- TABLE HEADERS ============================================ -->
          {% if unit[0].unit_id == 0 %}
            <h4>KPC</h4>
          {% elif unit[0].unit_id == 1 %}
            <h4>Unit 3</h4>
          {% elif unit[0].unit_id == 2 %}
            <h4>Unit 2</h4>
          {% endif %}
          <!-- ========================================================== -->

          <table class="table table-hover  table-condensed" id="sort_table{{unit[0].unit_id}}" style="font-size: 12px;">
            <thead class="thead-default">
              <tr>
                <th>Wellname</th>
                <th>GOR</th>
                <th>Connected</th>
                <th>Comingled</th>
                <th>DD limit</th>
                <th>Qliq limit</th>
                <th>Flow to</th>
                <th>MAP</th>
                <th>
                  <a href="javascript:void(0);" id="#reset_to_map{{ unit[0].unit_id }}" onclick="reset_to_map({{ unit[0].unit_id }});">
                    Reset all to MAP
                  </a>
                  <hr style="margin-bottom:5px;margin-top:5px;">
                  Target FWHP
                </th>
                <th>
                  <a href="javascript:void(0);" id="#invert_select{{ unit[0].unit_id }}" onclick="invert_select({{ unit[0].unit_id }});">
                    Invert select
                  </a>
                  <hr style="margin-bottom:5px;margin-top:5px;">
                  Optimize?
                </th>
              </tr>
            </thead>
            <tbody>
              {% for key, row in unit.items() %} <!-- loop through wells in units -->
                <tr>

                  <td name="wellname">{{ row.wellname }}</td>
                  <td>{{ row.gor }}</td>
                  <td>{{ row.connected }}</td>
                  <td>{{ row.routes[0].comingled }}</td>
                  <td>{{ row.dd_lim }}</td>
                  <td>{{ row.qliq_lim }}</td>

                  {% if row.routes|length >1 %} <!-- if there are mutiple routes for the well -->
                    <td style="padding: 0px;vertical-align: middle;">
                      <select class="form-control input-sm" name="selected_route" style="padding:1px;width:200px;height:20px;">
                        {% for r in row.routes %} <!-- loop through routes for well -->
                          {% if loop.index0==row.curr_route %} <!-- check if the route is selected -->
                            <option selected>{{ r.unit }}--{{ r.rms }}--{{ r.tl }}--slot {{ r.slot }}</option>
                          {% else %} <!-- if route is not selected -->
                            <option>{{ r.unit }}--{{ r.rms }}--{{ r.tl }}--slot {{ r.slot }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                      {% if row.route_cnt>1 %} <!-- QC if more than 1 routes is currently selected -->
                        <span style="color:red;">Warning! >1 route open! {{row.route_cnt}}</span>
                      {% endif %}
                    </td>
                  {% else %} <!-- if only 1 route for the well then just show the path-->
                    <td>{{ row.routes[0].unit }}--{{ row.routes[0].rms }}--{{ row.routes[0].tl }}--slot {{ row.routes[0].slot }}</td>
                  {% endif %}
                  <td name="map">{{ row.map }}</td>
                  <td>
                    <input class="form-control input-small" type="text"
                      style="padding:1px;width:60px;height:18px;font-size:12px;" name="fwhp" value="{{ row.fwhp }}">
                  </td>
                  <td>
                    {% if row.in_opt==1 %}
                      <input type="checkbox" name="in_opt" value="" checked='checked'>
                    {% else %}
                      <input type="checkbox" name="in_opt" value="">
                    {% endif %}
                  </td>

                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div> <!-- col end -->
      </div> <!-- row end -->

    {% endfor %}
  </div>
  <hr style="background-color:#E0E0E0;height:1px;">

</div> <!-- container end -->





<script type="text/javascript">

  var units_section=1;
  var fb_section=1;
  var wells_section=1;


  ////////////////////////////////////////////////////////////////////////////////
  // Enable sorting of table using table sorter library. Check "tablesorter.js" library for more details.
  $( document ).ready(function() {
    $("#sort_table{{data.well_data[0][0].unit_id}}").tablesorter();
    $("#sort_table{{data.well_data[1][0].unit_id}}").tablesorter();
    $("#sort_table{{data.well_data[2][0].unit_id}}").tablesorter();

    $('#show_hide_units_section').click(function(e) {
      units_section=show_hide_section("units_section",units_section);
    })

    $('#show_hide_fb_section').click(function(e) {
      fb_section=show_hide_section("fb_section",fb_section);
    })

    $('#show_hide_wells_section').click(function(e) {
      wells_section=show_hide_section("wells_section",wells_section);
    })

  });



  ////////////////////////////////////////////////////////////////////////////////


  ////////////////////////////////////////////////////////////////////////////////
  function save_state() {

    var state=get_state(); // get state data from target fwhp, route and optimize columns

    // Make AJAX call to save state data to session in the server, see "savestate" url call in views.py
    // AJAX standard form for calling
    $.ajax({
        type: "POST",
        url: "/savestate", // url to call in the views.py
        // The key needs to match your method's input parameter (case-sensitive).
        data: JSON.stringify(state),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
        },
        failure: function(errMsg) {
            alert(errMsg);
        }
    });
    alert("Routes and target FWHPs saved. Reload page to update table"); // send message after saving to state
    return state;

  };
  ////////////////////////////////////////////////////////////////////////////////


  ////////////////////////////////////////////////////////////////////////////////
  // read tables in setup page and gather state data
  function get_state(){

    var state={}; // init state


    ////////////////////////////////////////////////////////////////////////////////


    ////////////////////////////////////////////////////////////////////////////////
    // Get constraints in constraints table
    state["constraints"]={};
    state["constraints"]["kpc"]={};
    state["constraints"]["u3"]={};
    state["constraints"]["u2"]={};

    if ($("#kpc_qgas_constr").val()){
      state["constraints"]["kpc"]["qgas"]=parseFloat($("#kpc_qgas_constr").val());
    }else{
      state["constraints"]["kpc"]["qgas"]=100000;
    }

    if ($("#u3_qgas_constr").val()){
      state["constraints"]["u3"]["qgas"]=parseFloat($("#u3_qgas_constr").val());
    }else{
      state["constraints"]["u3"]["qgas"]=100000;
    }

    if ($("#u2_qgas_constr").val()){
      state["constraints"]["u2"]["qgas"]=parseFloat($("#u2_qgas_constr").val());
    }else{
      state["constraints"]["u2"]["qgas"]=100000;
    }


    if ($("#kpc_qoil_constr").val()){
      state["constraints"]["kpc"]["qoil"]=parseFloat($("#kpc_qoil_constr").val());
    }else{
      state["constraints"]["kpc"]["qoil"]=100000;
    }

    if ($("#u3_qoil_constr").val()){
      state["constraints"]["u3"]["qoil"]=parseFloat($("#u3_qoil_constr").val());
    }else{
      state["constraints"]["u3"]["qoil"]=100000;
    }

    if ($("#u2_qoil_constr").val()){
      state["constraints"]["u2"]["qoil"]=parseFloat($("#u2_qoil_constr").val());
    }else{
      state["constraints"]["u2"]["qoil"]=100000;
    }
    ////////////////////////////////////////////////////////////////////////////////


    ////////////////////////////////////////////////////////////////////////////////
    // Get separator pressure from separtor pressure table
    state["sep"]={};
    if ($("#kpc_sep").val()){
      state["sep"]["kpc_sep"]=parseFloat($("#kpc_sep").val());
    }else{
      state["sep"]["kpc_sep"]=78;
    }

    if ($("#u3_sep").val()){
      state["sep"]["u3_sep"]=parseFloat($("#u3_sep").val());
    }else{
      state["sep"]["u3_sep"]=130;
    }

    if ($("#u2_sep").val()){
      state["sep"]["u2_sep"]=parseFloat($("#u2_sep").val());
    }else{
      state["sep"]["u2_sep"]=78;
    }

    return state;
  }
  ////////////////////////////////////////////////////////////////////////////////


function get_well_state(){
  
  var well_state={}; // init wells in state

  for (i=0; i<3; ++i) { // loop from 0 to 2 (table number corresponding to each unit table)
    table="#sort_table" + i.toString()+" tbody"; // table ID
    $(table).children('tr').each(function () { // loop through rows in table

      var wellname=$(this).find("[name=wellname]").text() // get wellname
      state["wells"][wellname]={}; // init dict in state dict for this well
      if ($(this).find("[name=selected_route]").val()){ // get route from row
        state["wells"][wellname]["selected_route"]=$(this).find("[name=selected_route]").val();
      }else{
        state["wells"][wellname]["selected_route"]="";
      };

      var map=parseFloat($(this).find("[name=map]").text()) // get MAP from row

      if ($(this).find("[name=fwhp]").val()){ // get target FWHP from row
        var fwhp_val=parseFloat($(this).find("[name=fwhp]").val());
        // QC fwhp value. Make sure fwhp is not less than MAP. If it is, then set it to MAP
        if (fwhp_val>map){
          state["wells"][wellname]["fwhp"]=fwhp_val;
        }else if (fwhp_val==-1){
          state["wells"][wellname]["fwhp"]=-1;
        }else{
          state["wells"][wellname]["fwhp"]=map;
        }
      }else{
        state["wells"][wellname]["fwhp"]=map;
      };

      if ($(this).find("[name=in_opt]").is(":checked")){ // get in_opt from row
        state["wells"][wellname]["in_opt"]=1
      }else{
        state["wells"][wellname]["in_opt"]=0
      }

    })
  }
  return well_state;
}



  ////////////////////////////////////////////////////////////////////////////////
  // Resets all target fwhps in a selected unit table to MAPs. Each unit table is reset individually
  function reset_to_map(tbl){
    table="#sort_table" + tbl.toString()+" tbody";

    $(table).children('tr').each(function () { // loop through rows

      var map=$(this).find("[name=map]").text() // get map from row
      $(this).find("[name=fwhp]").val(map) // set fwhp as remembered map

    })
  }
  ////////////////////////////////////////////////////////////////////////////////


  ////////////////////////////////////////////////////////////////////////////////
  // change in_opt set on the page. Each unit table is set individually
  function invert_select(tbl){
    table="#sort_table" + tbl.toString()+" tbody";

    $(table).children('tr').each(function () { // loop through rows

      if ($(this).find("[name=in_opt]").is(":checked")){
        $(this).find("[name=in_opt]").prop('checked', false); // if checked, then uncheck
      } else {
        $(this).find("[name=in_opt]").prop('checked', true); // if unchecked, then check
      }

    })
  }
  ////////////////////////////////////////////////////////////////////////////////


  ////////////////////////////////////////////////////////////////////////////////
  // clear state
  function clear_state() {
    $.ajax({
        type: "POST",
        url: "/clearstate", // url called in views.py
        // The key needs to match your method's input parameter (case-sensitive).
        data: "",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
        },
        failure: function(errMsg) {
            alert(errMsg);
        }
    });
    alert("State cleared!");
  };
  ////////////////////////////////////////////////////////////////////////////////



  function show_hide_section (section,section_show) {
    // alert(section_show);
    if (section_show==0){
      $('#'+section).css("display","");
      section_show=1;
    }else{
      $('#'+section).css("display","none");
      section_show=0;
    }
    return section_show;
  }


</script>



{% endblock %}
